    <footer class="site-footer">
      <div
        class="
          navbar
          is-fixed-bottom
          maxwidth
          is-white
          has-text-centered
          is-vcentered
          footer-deco
        "
      >
        <div class="column">&copy; 2021</div>
      </div>
    </footer>
