<!-- header -->
<nav role="navigation" aria-label="main navigation"
       class="navbar is-white header-deco"
       id="navbar-vue-app">

    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="/assets/img/logo-gear.png" alt="Home" />
         {{ metadata.title }}
      </a>
       <a role="button" class="navbar-burger burger" 
         aria-label="menu" aria-expanded="false" data-target="navbarBulma"
         @click="isOpen = !isOpen" v-bind:class="{'is-active': isOpen}">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBulma" class="navbar-menu"
         v-bind:class="{'is-active': isOpen}">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ '/' | url }}">
          Blog
        </a>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-item">
          Archives
        </div>

        <div class="navbar-dropdown">
           <a class="navbar-item" href="/posts/">
            <span class="icon"><i class="fa-regular fa-calendar"></i></span>&nbsp;By Date
          </a>
          <a class="navbar-item" href="/tags/">
            <span class="icon"><i class="fa fa-tags"></i></span>&nbsp;By Tags
          </a>
         
          <hr class="navbar-divider">
          <a class="navbar-item" href="/tags/story/">
            <span class="icon"><i class="fa-brands fa-accusoft"></i></span>&nbsp;Stories
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/tags/tol">
          Tree of Life
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/tags/final/">
            <span class="icon"><i class="fa-solid fa-sitemap"></i></span>&nbsp;Final
          </a>
          <a class="navbar-item" href="/tags/info/">
          <span class="icon"><i class="fa fa-info-circle"></i></span>&nbsp;Information
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/tags/social/">
            <span class="icon"><i class="fa-solid fa-circle-user"></i></span>&nbsp;Social
          </a>
          <a class="navbar-item" href="/tags/order/">
            <span class="icon"><i class="fa-solid fa-list"></i></span>&nbsp;Order
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/tags/qkab/">
          Quantum Kabbalah
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/tags/shaman/">
            <span class="icon"><i class="fa-solid fa-jedi"></i></span>&nbsp;Shaman
          </a>
          <a class="navbar-item" href="/tags/math/">
            <span class="fa-solid fa-wave-square"></span>&nbsp;Mathematics
          </a>
          <hr class="navbar-divider">

          <a class="navbar-item" href="/tags/tishby">
            <span class="icon"><i class="fa fa-gear"></i></span>&nbsp;Isaac Tishby
          </a>          
          <a class="navbar-item" href="/tags/wolfson">
            <span class="icon"><i class="fa-sharp fa-bolt"></i></span>&nbsp;Elliot Wolfson
          </a>
          <a class="navbar-item" href="/tags/universal_kabbalah/">
            <span class="fas fa-infinity"></span>&nbsp;Universal Kabbalah
          </a>
          <a class="navbar-item" href="/tags/zornberg/">
            <span class="fa-sharp fa-magnifying-glass"></span>&nbsp;Aviva Zornberg
          </a>
          
        </div>
      </div> 

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/tags/neshama">
          Neshamah
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/tags/judaica/">
            <span class="fas fa-star-of-david"></span>&nbsp;Judaica
          </a>
          <a class="navbar-item" href="/tags/freedom/">
            <span class="fas fa-anchor"></span>&nbsp;Journey to Awareness
          </a>
          <a class="navbar-item" href="/tags/parasha/">
            <span class="fa-solid fa-book-tanakh"></span>&nbsp;Readings of the week
          </a>
          <a class="navbar-item" href="/tags/new/">
            <i class="fas fa-circle-plus"></i>&nbsp;New
          </a>
        </div>
      </div>

     
        <!--div class="navbar-item">
        <a  class="navbar-link" href="/personal/">
          Personal
        </a>
      </div-->
      <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/tags/about">
            About
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/about/The muddled mystic/">
              <span class="icon"><i class="fas fa-book-open-reader"></i></span>&nbsp;About Me
            </a>
          
            <a class="navbar-item" href="/about/home/">
              <span class="icon"><i class="fas fa-book-atlas"></i></span>&nbsp;About Neshama
            </a>
            <a class="navbar-item" href="/about/comp/">
              <span class="icon"><i class="fa fa-compass-drafting"></i></span>&nbsp;Sobig Worm
            </a>
          </div>
        </div>
      </div>

      
       <!--
      <div class="navbar-end">
        <form class="is-marginless" action="/posts/search/" method="get">
        <div class="navbar-item">
          <input class="" type="text" name="q"
            placeholder="Search..." aria-label="S earch">
          &nbsp;
          <button class="button is-light" 
            type="submit">Search</button>
        </div>
        </form>
      </div>
      -->

    </div>

</nav>

