<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    
    <!--link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}"-->
    <link rel="stylesheet" href="{{ '/assets/fonts/fontawesome.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/fonts/solid.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/katex.min.css' | url }}">
    
   <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <!--link rel="stylesheet" href="{{ '/assets/css/debug.css' | url }}"-->

  </head>
  <body>

    <!--header -->
    <header>
      {% include "nav.njk" %}
    </header>
    
    <!--content -->
    <div class="container">
      <div class="columns layout-base">
      <div class="column is-offset-1 is-10">
        <main role="main" class="content{% if templateClass %} {{ templateClass }}{% endif %}">
        {{ content | safe }}
        </main>
      </div>
      </div>
     </div>
  
    <!--footer -->
    {% include "footer.njk" %}

    <!-- Javascript (at end of document) -->
    <script src="/assets/js/vue.min.js"></script>

    <script src="/assets/js/bulma-burger-vue.js"></script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
