<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    
    <!-- fontawesome-6.4.0 -->
    <link rel="stylesheet" href="{{ '/assets/css/fontawesome-all.min.css' | url }}">
  
    <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"-->
    <!--link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}"-->
    <link rel="stylesheet" href="{{ '/assets/css/katex.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    
    
   <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <!--link rel="stylesheet" href="{{ '/assets/css/debug.css' | url }}"-->
    <link rel="icon" 
      type="image/ico" 
      href="/favicon.ico">
  </head>
  <body>

    <!--header -->
    <div class="columns is-flex-direction-column is-fullheight-100vh maxwidth">
      <header class="column is-narrow maxwidth">
        <div class="container">
        {% include "nav.njk" %}
        </div>    
      </header>
      
      <!--content -->
      <div class="column">
        <div class="container">
          <div class="columns">
            <div class="column">
              <main role="main" class="content{% if templateClass %} {{ templateClass }}{% endif %}">
                {{ content | safe }}
              </main>
            </div>
          </div>
        </div>
      </div>
    
      <!--footer -->
      <footer class="column is-narrow footer">
        {% include "footer.njk" %}
      </footer>

    </div>
    
    <!-- Javascript (at end of document) -->
    
    <script src="/assets/js/all.js"></script>
    <script src="/assets/js/vue.min.js"></script>
    <script src="/assets/js/style.js"></script>    

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
