---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="box box-deco">

   <section>
    <div class="main_title">
      <h4 class="title is-4 blog-post-title" itemprop="name headline">
      {% if refURL %} 
        <a href="{{ refURL }}">{{ title }}</a>
      {% else %}
        {{ title }}  
      {% endif %}
    </div>
    

    <div class="is-clearfix"></div>

    <div class="is-pulled-left">
      <span class="meta-time tag is-light is-small">
        <time datetime="{{ page.date | htmlDateString }}">
        {% if modified %}
          {{ modified | readableDate }}
        {% else %}
          {{ page.date | readableDate }}
        {% endif %}
        </time>
        &nbsp;
      </span>
      {% if stars %}
        <span class="tag is-light is-small" style="color: darkblue">
          {{ stars }}
        </span>
      {% endif %}
     </div>

    {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
    <div class="is-pulled-right">
      <a href="{{ tagUrl | url }}">
        <span class="tag is-light is-small">
          <span class="fa fa-tag">&nbsp;</span>
          {{ tag }}
        </span>
      </a>
      &nbsp;
    </div>
    {%- endfor %}

    <div class="is-clearfix"></div>

    {% if author and not article %}
      <div class="is-pulled-left">
        <span class="tag is-light is-small" style="color: darkblue">
          From: {{ author }}
        </span>
      </div>
      <div class="is-clearfix"></div>
    {% endif %}

    {% if article and author %}  
      <h3>Title:</h3>
      <p style="colour: grey; padding-left: 2rem;">
        <i>{{ article }}</i> by {{ author }}
      </p>
    {% endif %}

    {% if description %}
      <h3>Description:</h3>
      <p style="color: grey; padding-left: 2rem;">{{ description }}</p>
    {%- endif %}
  
    <hr class="is-black"/>
  
    <div class="main-content">
      {{ content | latex | safe }}
    </div>

    
    {%- if collections.posts %}
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
       
      {%- if nURL %}
      {%- else %}
        {%- set nURL = nextPost.url %} 
        {%- set nTitle = nextPost.data.title %}
      {%- endif %}

      {%- if pURL %}
      {%- else %}
        {%- set pURL = previousPost.url %}
        {%- set pTitle = previousPost.data.title %}
      {%- endif %}
  
    <br clear="all" />
    <hr>
    <ul>
      {%- if nURL %}<li>Next: <a href="{{ nURL | url }}">{{ nTitle }}</a></li>{% endif %}
      {%- if pURL %}<li>Previous: <a href="{{ pURL | url }}">{{ pTitle }}</a></li>{% endif %}
    </ul>
    {%- endif %}
  </section>
</div>