.main-content .tc ol {
  list-style-type: decimal;
  margin: 0.1em 1em;
}
.main-content li {
  margin: 0.1em 1em;
}

.poem {
  margin: auto;
  font-style: italic;
  padding-left: 2rem;
}

@media screen and (min-width: 580px) {
  .poem {
    padding-left: 4rem;
  }
}

.footnotes {
  font-size: 80%;
}

.content blockquote:dir(rtl) {
  text-align: start; /* left in latin, right in arabic */
  margin-inline-start: 0px; /* margin-left in latin, margin-right in hebrew */
  border-inline-start: 5px solid gray; /* border-left in latin, border-right in hebrew */
  padding-inline-start: 15px; /* padding-left in latin, padding-right in hebrew */
  font-size: 120%;
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
}

.blog-post blockquote p:dir(ltr) {
  font-style: italic;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 90%;
}

.title.is-4 {
  font-size: 2rem;
}

.content h3 {
  margin-bottom: 0;
  margin-top: 1em;
}

.content h3:not(:first-child) {
  margin-top: 1em;
}

.hebrew {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
  font-weight: 600;
  line-height: 1.125;
}
