.main-content {
  text-align: justify;
}
.main-content .tc ol {
  list-style-type: decimal;
  margin: 0.1em 1em;
}
.main-content li {
  margin: 0.1em 1em;
}

.poem {
  margin: auto;
  font-style: italic;
  padding-left: 2rem;
}

@media screen and (min-width: 580px) {
  .poem {
    padding-left: 4rem;
  }
}

details,
.footnotes,
footnote,
.note {
  font-size: 80%;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

/*** MARK ****/
/*
mark {
  border-style: solid;
    border-width: 1px;
    padding: 3px;
    border-radius: 5px;
}



mark mark {
    margin: 0 -3px;
}
mark .start {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
mark .end {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

*/

/* Regular yellow for underlinings */

/* For starred pieces */
.purple {
  background-color: rgba(0, 0, 255, 0.15);
  border-color: rgba(0, 0, 255, 0.5);
}
mark .green {
  background-color: rgba(0, 255, 0, 0.15);
  border-color: rgba(0, 255, 0, 0.5);
}

mark .red {
  background-color: rgba(255, 0, 0, 0.15);
  border-color: rgba(255, 0, 0, 0.5);
}

/* For paragraphs */
.orange {
  background-color: rgba(255, 150, 0, 0.15);
  border-color: rgba(255, 150, 0, 0.5);
}

/* Blue - translation of words, and books that are mentioned. */
.blue {
  background-color: rgba(0, 150, 255, 0.15);
  border-color: rgba(0, 150, 255, 0.5);
}

:dir(rtl) {
  text-align: start; /* left in latin, right in arabic */
  margin-inline-start: 0px; /* margin-left in latin, margin-right in hebrew */
  padding-inline-start: 1rem; /* padding-left in latin, padding-right in hebrew */
  padding-inline-end: 2rem;

  font-size: 1.2rem;
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
  font-weight: 900;
}

/* Do I need this?
.mord:not(.mathnormal) {
  font-weight: 900;
}
*/

blockquote *:dir(ltr) {
  font-weight: normal;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-inline-end: 1rem;
}

/*
blockquote p:dir(ltr):not(:first-child) {
  text-indent: 2rem;
}
*/
.title.is-4 {
  font-size: 2rem;
}

.content h3 {
  margin-top: 1em;
}

.content h3:not(:first-child) {
  margin-top: 1em;
}

.hebrew {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
  font-weight: 600;
  line-height: 1.125;
}

.content h4 a {
  color: #2980b9;
  cursor: pointer;
  text-decoration: underline;
}

.main-content hr {
  width: 70%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b2b5b8;
}
