---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---
<div class="column blog-column box-deco has-background-white">

<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

</div>
