// Initial Variables

$brand-red:  #802020
$brand-gray: #404040

$gray:   #7b8a8b
$yellow: #f7d316
$blue:   #2980b9

$dark:    $brand-red
$primary: $brand-gray

$navbar-breakpoint: 769px

$hr-background-color: black
